<div>
  <h2 class="tips tips-title">{{title}}</h2>
  <table>
    <tbody>
      <tr>
        <td class="tips desc-title">コマンド</td><td><span>{</span>{{title}}:<i>{{placeholder}}</i><span>}</span></td>
      </tr>
      <tr>
        <td class="tips desc-title">説明</td><td>{{{description}}}</td>
      </tr>
      <tr>
        <td class="tips desc-title">使用例</td><td class="tips-sample clickable"><span>{</span>{{title}}:{{sampleValue}}<span>}</span></td>
      </tr>
    </tbody>
  </table>
</div>
